* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* body {
  background-color: #060643;
} */

.navbar {
  background-color: #04044f;
  display: flex;
  
  justify-content: space-around;
  /* flex-direction: row; */
  height: 10vh;
  align-items: center;
  width: 100%;
  position:fixed;
}

.logo {
  font-size: 2rem;
  font-weight: 900;
  color: white;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.navbar li {
  list-style: none;
  /* float:left; */
  padding: 0 1em 0 1em;
  
}

.navbar li a {
  text-decoration: none;
  color: white;
}

.navbar li a:hover {
  color: rgb(152, 48, 238);

}



.secondsection {
  background-color: #33005a;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.secondsection a {
  text-decoration: none;
  color: rgb(186, 167, 167);
  margin: 0 50px 0 50px;
  font-size: 35px;
  ;
}

.secondsection a:hover {
  color: purple;
  background-color: #6290b9;
  border-radius: 5px;
}

.firstsection {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  background-color: #060643;
}

.left {
  width: 30%;
  font-size: 5em;
  padding: 150px 1px 1px 1px ;
  color:white;
}

.right {
  width: 30%;
}

.rightimage {
  width: 100%;
  margin: 15em 1em 1em 1em;
}
